<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>菜单管理--左边的树</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <!--<link rel="icon" href="/favicon.ico">-->
    <link rel="stylesheet" th:href="@{/static/resources/layui/css/layui.css}" media="all" />
    <link rel="stylesheet" th:href="@{/static/resources/css/public.css}" media="all" />
    <link rel="stylesheet" th:href="@{/static/resources/layui_ext/dtree/dtree.css}" media="all" />
    <link rel="stylesheet" th:href="@{/static/resources/layui_ext/dtree/font/dtreefont.css}" media="all" />
</head>
<body>
    <!--存放树的容器-->
    <ul id="menuTree" class="dtree" data-id="0"></ul>
    <script type="text/javascript" th:src="@{/static/resources/layui/layui.js}"></script>
    <script>
        var menuTree;
        layui.extend({
            dtree: '/static/resources/layui_ext/dtree/dtree'
        }).use(['dtree','layer','jquery'],function () {
            var dtree = layui.dtree,
                layer = layui.layer;
                $ = layui.jquery;

            //初始化树
            menuTree = dtree.render({
                elem:"#menuTree",
                dataStyle: "layuiStyle",  //使用layui风格的数据格式
                dataFormat: "list",  //配置data的风格为list
                response:{message:"msg",statusCode:0},  //修改response中返回数据的定义
                url: "/menu/loadMenuManagerLeftTreeJson" // 使用url加载（可与data加载同时存在）
            });

            // 绑定节点点击
            dtree.on("node(menuTree)" ,function(obj){
                layer.msg(JSON.stringify(obj.param));
                // window.parent.right.reloadTable(obj.param.nodeId);
            });
        });
    </script>
</body>
</html>