<!DOCTYPE html>
<html class="loginHtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <title>登录--xxx权限管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/static/resources/layui/css/layui.css}" media="all" />
    <link rel="stylesheet" th:href="@{/static/resources/css/public.css}" media="all" />
</head>
<style>
    #imgCode canvas {
        position: absolute;
        top: 1px;
        right: 1px;
        cursor: pointer;
    }
</style>
<body class="loginBody">
<form class="layui-form">
    <div style="text-align: center;font-weight: 600;
    color: rgba(0,0,0,.85);font-size: 24px;"><span s style="color: #3491ff;">XXX</span>权限系统</div>
    <input type="hidden" id="tra" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDYYuxhoSASdeViU3Fd9IIGrsf8eWBYyy/dLU+gm39YgDB5IoaIJg8gRqhMvQ4+u2VDgm26NRbV5YJqruqXJVbGA4LN76uKHWiLsAq2OnQ70raB1UhhgAn0kAoekSsFTIjf2g5VGtTlpYUblOvVee5XmPDN0lt9daXWP7qwxIz4OwIDAQAB">
    <div class="layui-form-item input-item" style="margin-top: 30px;">
        <label for="username">用户名</label>
        <input type="text" placeholder="请输入用户名" value="" name="username" autocomplete="off" id="username" class="layui-input" lay-verify="required">
    </div>
    <div class="layui-form-item input-item">
        <label for="password">密码</label>
        <input type="password" placeholder="请输入密码" name="password" value="" autocomplete="off" id="password" class="layui-input" lay-verify="required">
    </div>
    <div class="layui-form-item" style="margin-bottom: 20px;">
        <button class="layui-btn layui-btn-normal layui-block" lay-filter="login" lay-submit>登录</button>
    </div>
</form>
<script type="text/javascript" th:src="@{/static/resources/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/resources/js/cache.js}"></script>
<script type="text/javascript" th:src="@{/static/resources/js/jsencrypt.min.js}"></script>


<script>
    layui.use(['form','layer','jquery'],function(){
        var form = layui.form,
            layer = parent.layer === undefined ? layui.layer : top.layer
        $ = layui.jquery;
        var show_num=[];
        //登录按钮
        form.on("submit(login)",function(data){
            var btn =  $(this);
            //密码加密传输
            var loginName = $("#username").val();
            var pwd = $("#password").val();
            var encrypt = new JSEncrypt();
            encrypt.setPublicKey($("#tra").val());//加载密钥
            var password = encodeURI(encrypt.encrypt(pwd));//加密密码
            $(this).text("登录中...").attr("disabled","disabled").addClass("layui-disabled");
            $.post("/sys/login",{username:loginName,password:password},function(res){
                //设置登录按钮 恢复可点击   在前端防止 重复点击
                btn.text("登录").attr("disabled",false).removeClass("layui-disabled");
                if(res.code==0){
                    //跳转到/index.html页面
                    location.href="/sys/index";
                }else{
                    layer.msg(res.msg)
                }
            });
            return false;
        });
        //表单输入效果
        $(".loginBody .input-item").click(function(e){
            e.stopPropagation();
            $(this).addClass("layui-input-focus").find(".layui-input").focus();
        })
        $(".loginBody .layui-form-item .layui-input").focus(function(){
            $(this).parent().addClass("layui-input-focus");
        })
        $(".loginBody .layui-form-item .layui-input").blur(function(){
            $(this).parent().removeClass("layui-input-focus");
            if($(this).val() != ''){
                $(this).parent().addClass("layui-input-active");
            }else{
                $(this).parent().removeClass("layui-input-active");
            }
        })
    })

</script>
</body>
</html>